body {
  margin: 0;
  background-color: black;
}

.blue {
  width: 348px;
  margin: 20px 20px 40px;
  border: solid;
  border-width: 1px;
  border-color: #e75551;
  background-color: #308dc0;
}

.yellow {
  width: 326px;
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-color: #e75551;
  background-color: #ffa500;
}

.text {
  width: 284px;
  margin: 10px;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: #e75551;
  background-color: #ddd;
}
